* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}
@media (max-width: 425px) {
  html html {
    max-width: 425px;
  }
  html #header {
    height: 10vh;
    background: #1E90FF;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html #header-navbar {
    width: 100%;
    padding: 0 0.5rem;
  }
  html #header-navbar-logo {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
  html #header-navbar-logo img {
    display: none;
  }
  html #header-navbar-logo h2 {
    font-size: 1rem;
    color: white;
  }
  html #header-navbar-hamburger {
    display: flex;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  html #header-navbar-hamburger span {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 0.5rem;
    height: 100%;
    cursor: pointer;
  }
  html #header-navbar-menu {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    position: fixed;
    background: rgba(3, 131, 170, 0.9254901961);
    top: 10vh;
    left: -100%;
    width: 100vw;
    height: 92vh;
    list-style: none;
    transition: 1s ease;
    z-index: 0;
  }
  html #header-navbar-menu li {
    display: flex;
    width: 100%;
    height: 100%;
  }
  html #header-navbar-menu li a {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  html #header-navbar-menu li a:hover {
    background: #1E90FF;
    text-decoration: underline;
  }
  html #header-navbar .open {
    left: 0%;
  }
  html #bk1 {
    background: rgba(0, 0, 0, 0.9098039216);
    padding: 0.5rem 0.2rem;
    height: 90vh;
  }
  html #bk1 .tittle {
    height: 20%;
    padding: 0.5rem 0;
  }
  html #bk1 .tittle h1 {
    font-size: 300%;
    text-shadow: 0px 0px 1.5rem;
  }
  html #bk1 .subtittle {
    height: 10%;
  }
  html #bk1 .subtittle h2 {
    font-size: 150%;
    text-shadow: 0px 0px 1.5rem;
  }
  html #bk1 #text {
    height: 40%;
  }
  html #bk1 #text p {
    font-size: 150%;
    width: 100%;
  }
  html #bk1 #button {
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  html #bk1 #button button {
    width: 50%;
  }
  html #bk2 {
    flex-direction: column;
    height: 100vh;
    padding: 0;
  }
  html #bk2 #sobremim-header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html #bk2 #sobremim-header h2 {
    font-size: 200%;
  }
  html #bk2 #sobremim-section {
    height: 60%;
  }
  html #bk2 #sobremim-section-descricao {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
  }
  html #bk2 #sobremim-section-descricao p {
    font-size: 140%;
  }
  html #bk2 #sobremim-footer-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html #bk2 #sobremim-footer-conhecimentos {
    flex-wrap: wrap;
    padding: 1rem;
  }
  html #bk2 #sobremim-footer-conhecimentos .sobremim-footer-content {
    width: 30%;
    height: 50%;
    padding: 0.2rem;
  }
  html #bk2 #sobremim-footer-conhecimentos .sobremim-footer-content .sobremim-footer-content-info {
    font-size: 70%;
  }
  html #bk2 #img-eu {
    display: none;
  }
  html .bk3 {
    padding: 0.5rem;
  }
  html .bk3-container {
    flex-direction: column;
    width: 100%;
  }
  html .bk3-container-item {
    width: 100%;
    @inlcude flex-align(center, space-between);
  }
  html .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    gap: 0;
    height: 40vh;
  }
  html .footer h2 {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
  }
  html .footer-info {
    gap: 0;
    width: 100%;
    height: 40%;
    padding: 0.2rem;
    flex-direction: column;
  }
  html .footer-info-contacts {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
    height: auto;
    font-size: 120%;
  }
  html .footer-info-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    gap: 2rem;
  }
  html .footer #copy p {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: #000000;
  background: url("../imagem/headerbg1300.jpg") no-repeat center center fixed;
  background-size: cover;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding: 0;
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  background: #000000;
  position: fixed;
  border-bottom: 1px solid white;
}
#header-navbar {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#header-navbar-logo {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  order: 4;
  flex: 0.15 0 0;
  overflow: hidden;
  width: 100px;
  height: 100%;
  margin-right: 0.5rem;
}
#header-navbar-logo img {
  width: 90%;
  border-radius: 50%;
  border: 3px solid #1E90FF;
}
#header-navbar-namePage {
  order: 1;
  flex: 2 0 0;
}
#header-navbar-namePage h2 {
  font-size: 2rem;
  font-weight: bold;
  widows: 80%;
  padding-left: 2rem;
}
#header-navbar-namePage h2 a {
  text-decoration: none;
  color: #1E90FF;
}
#header-navbar-hamburger {
  display: none;
  order: 2;
  flex: 1 0 0;
}
#header-navbar-menu {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 3;
  flex: 1 0 0;
  gap: 0.5rem;
  list-style: none;
  height: 100%;
  margin: 0 0.2rem;
}
#header-navbar-menu li {
  width: 100%;
  height: 50%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 5px;
}
#header-navbar-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bolder;
  font-size: 1.2em;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
#header-navbar-menu .active, #header-navbar-menu li:hover {
  background: #1E90FF;
  border-radius: 5px;
}
#bk1 {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10vh;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5);
}
#bk1 .tittle {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  width: 100%;
}
#bk1 .tittle h1 {
  color: #1E90FF;
  font-size: 400%;
  text-shadow: 0px 0px 3.5rem;
  width: 100%;
  text-align: center;
}
#bk1 .subtittle {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5 0 0;
  width: 100%;
}
#bk1 .subtittle h2 {
  text-align: center;
  text-shadow: 0px 0px 3.5rem;
  color: #E066FF;
  font-size: 200%;
}
#bk1 #text {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 0 0;
  width: 100%;
}
#bk1 #text p {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  width: 60%;
}
#bk1 #button {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  width: 100%;
}
#bk1 #button button {
  display: flex;
  width: 30%;
  height: 50%;
  background: #1E90FF;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
}
#bk1 #button button a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5 0 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
#bk1 #button button:hover {
  background: #00F5FF;
}

#bk2 {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #333;
  color: #fff;
  padding: 10vh 0.5rem 0 0.5rem;
}
#bk2 #sobremim {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#bk2 #sobremim-header {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  flex: 1 0 0;
}
#bk2 #sobremim-header h2 {
  font-size: 2.5rem;
  color: #1E90FF;
  text-shadow: 3px 3px 0.2rem rgba(0, 0, 0, 0.7803921569);
}
#bk2 #sobremim-section {
  width: 100%;
  height: 40%;
  flex: 2 0 0;
}
#bk2 #sobremim-section-descricao {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: justify;
}
#bk2 #sobremim-section-descricao p {
  font-size: 1.5rem;
  font-weight: 600;
  width: 90%;
}
#bk2 #sobremim-footer {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: 2px solid #1E90FF;
  widows: 100%;
  height: 40vh;
  flex: 2 0 0;
}
#bk2 #sobremim-footer-tittle {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 25%;
}
#bk2 #sobremim-footer-tittle h2 {
  font-size: 1.5rem;
  color: #1E90FF;
  text-shadow: 3px 3px 0.2rem rgba(0, 0, 0, 0.7803921569);
}
#bk2 #sobremim-footer-conhecimentos {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
}
#bk2 #sobremim-footer-conhecimentos .sobremim-footer-content {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 80%;
}
#bk2 #sobremim-footer-conhecimentos .sobremim-footer-content .sobremim-footer-content-img {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}
#bk2 #sobremim-footer-conhecimentos .sobremim-footer-content .sobremim-footer-content-img img {
  width: 60%;
}
#bk2 #sobremim-footer-conhecimentos .sobremim-footer-content .sobremim-footer-content-info {
  height: 10%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}
#bk2 #img-eu {
  display: flex;
  border: 1.5rem solid #333;
  width: 40%;
  background: url("../imagem/bgabout3500.jpg") center center no-repeat;
  background-size: cover;
}

.bk3 {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #333;
  height: 100vh;
  width: 100%;
  padding: 10vh 3rem 3rem 3rem;
}
.bk3 h2 {
  font-size: 200%;
  padding: 2rem 0rem 2rem 1rem;
  color: #1E90FF;
  height: 10vh;
}
.bk3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 90vh;
  width: 100%;
}
.bk3-container-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
}
.bk3-container-item-bg {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6431372549);
}
.bk3-container-item-bg h3 {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 200%;
  text-shadow: 0px 0px 2rem;
  width: 100%;
  color: #E066FF;
}
.bk3-container-item-bg .button {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
}
.bk3-container-item-bg .button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  height: 40%;
  cursor: auto;
}
.bk3-container-item-bg .button button {
  width: 40%;
  height: 70%;
  border: none;
  border-radius: 15px;
  background-color: #1E90FF;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.bk3-container-item-bg .button button:hover {
  background: #00F5FF;
  color: #000000;
}
.bk3-container #card-1 {
  background: url("../imagem/works/virtuallifebrasil.jpg") no-repeat center;
  background-size: 200%;
  transition: 0.6s;
}
.bk3-container #card-1:hover {
  background-size: 210%;
  filter: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagem/works/virtuallifebrasil.jpg");
}
.bk3-container #card-1:hover .button a:hover {
  color: #fff;
}
.bk3-container #card-2 {
  background: url("../imagem/works/bgabout2425.jpg") no-repeat center;
  background-size: 200%;
  transition: 0.6s;
}
.bk3-container #card-2:hover {
  background-size: 210%;
  filter: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagem/works/bgabout2425.jpg");
}
.bk3-container #card-2:hover .button a:hover {
  color: #fff;
}
.bk3-container #card-3 {
  background: url("../imagem/works/bgabout2425.jpg") no-repeat center;
  background-size: 200%;
  transition: 0.6s;
}
.bk3-container #card-3:hover {
  background-size: 210%;
  filter: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagem/works/bgabout2425.jpg");
}
.bk3-container #card-3:hover .button a:hover {
  color: #fff;
}

.footer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 20%;
  background: #000000;
  padding: 2rem;
  color: #fff;
}
.footer h2 {
  text-align: center;
  color: #1E90FF;
  font-size: 200%;
}
.footer-info {
  flex-flow: wrap;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}
.footer-info-contacts {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  padding: 0.5rem;
}
.footer-info-social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 0.5rem;
}
.footer-info-social a {
  font-size: 1.5rem;
  color: white;
}
.footer #copy {
  display: flex;
  align-items: cente;
  justify-content: center;
  height: 20%;
}

/*# sourceMappingURL=styles.css.map */
