@import 'mixins'
@import 'variables'
@import 'device-g'

// RESET CONFIGURATION PAGE
*
    @include reset

html
    height: 100vh
    @include device-g()

body
    display: flex
    flex-direction: column
    color: $default-text-color
    background: url('../imagem/headerbg1300.jpg') no-repeat center center fixed
    background-size: cover

#main
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    padding: 0

#header
    display: flex
    flex-direction: column


    width: 100%
    height: 20vh
    background: rgba(0,0 ,0 , 0.5 )

    &-navbar
        display: flex
        @include flex-align(center, space-between)
        
        height: 80%

        &-logo
            display: flex
            @include flex-align(center, center)
            gap: 1em

            padding: 0.5em

            img
                width: 20%
                border-radius: 50%
                border: 3px solid $tittle-text-color

            h2
                font-size: 2rem
                font-weight: bold
                widows: 80%
                color: $tittle-text-color

        &-hamburger
            display: none

        &-menu
            display: flex
            gap: 2em
            @include flex-align(center, flex-end)
            list-style: none

            
            margin-right: 2em

            a
                color: $secundary-text-color
                font-weight: bolder
                font-size: 1.2em
                transition-duration: 0.2s
                text-decoration: none

            a:hover
                color: $tittle-text-color
                text-decoration: underline
                transition-duration: 0.2s

#bk1
    display: flex
    flex-direction: column
    @include flex-align(center, start)

    height: calc(100vh - 20vh)
    background: rgba(0,0 ,0 , 0.5 )

    .tittle
        display: flex
        @include flex-align(center, center)
        
        width: 100%
        height: 10vh


        h1
            color: $tittle-text-color
            font-size: 400%
            text-shadow: 0px 0px 3.5rem
            width: 100%
            text-align: center
    
    .subtittle
        display: flex
        @include flex-align(center, center)

        height: 30vh
        width: 100%

        h2
            text-align: center
            text-shadow: 0px 0px 3.5rem
            color: $secundary-color
            font-size: 200%

    #text
        display: flex
        @include flex-align(center, center)

        width: 100%
        height: 20vh

        p
            text-align: center
            font-weight: 600
            font-size: 1.5rem
            color: $secundary-text-color
            width: 60%

    #button
        display: flex
        @include flex-align(center, center)

        width: 100%
        height: 40vh

        button
            width: 30%
            height: 10vh
            background: $tittle-text-color
            border: none
            border-radius: 10px
            color: $secundary-text-color
            font-size: 1.5em
            font-weight: bold

        button:hover
            background: $primary-color
            color: $default-text-color

#bk2
    display: flex

    width: 100%
    height: 100%
    background: $primary-bg-color
    color: $secundary-text-color
    padding: 0.5rem 0.5rem 0 0.5rem

    #sobremim
        display: flex
        flex-direction: column

        width: 100%
        height: 100%

        &-header
            display: flex
            @include flex-align(center, flex-start)

            width: 100%
            height: 20vh

            h2
                font-size: 2.5rem
                color: $tittle-text-color
                text-shadow: 3px 3px 0.2rem #000000c7
            
        &-section
            width: 100%
            height: 40%

            &-descricao
                display: flex
                flex-direction: column

                width: 100%
                text-align: justify

                p
                    font-size: 1.5rem
                    font-weight: 600
                    width: 90%


    
        &-footer
            display: flex
            flex-direction: column
            @include flex-align(flex-start, center)
            border-top: 2px solid $tittle-text-color

            widows: 100%
            height: 40vh

            &-tittle
                display: flex
                @include flex-align(center, left)
                width: 100%
                height: 25%
                

                h2
                    font-size: 1.5rem
                    color: $tittle-text-color
                    text-shadow: 3px 3px 0.2rem #000000c7


            &-conhecimentos
                display: flex
                @include flex-align(center, center)

                height: 75%
                width: 100%

                .sobremim-footer-content
                    display: flex
                    flex-direction: column
                    @include flex-align(center, space-between)

                    width: 20%
                    height: 80%

                    .sobremim-footer-content-img
                        display: flex
                        @include flex-align(center, center)

                        width: 100%
                        height: 90%

                        img
                            width: 60%


                    .sobremim-footer-content-info

                        height: 10%
                        text-align: center
                        font-size: 1.1rem
                        font-weight: 600
                        color: $secundary-text-color

    #img-eu
        display: flex
        border: 1.5rem solid #333

        width: 40%
        background: url("../imagem/bgabout3500.jpg") center center no-repeat
        background-size: cover

.bk3
    display: flex
    flex-direction: column
    @include flex-align(center, center)
    gap: 1rem

    background: $primary-bg-color
    height: 100vh
    width: 100%
    padding: 3rem

    h2
        font-size: 200%
        padding: 2rem 0rem 2rem 1rem
        color: $tittle-text-color
        height: 10vh

    &-container
        display: flex
        @include flex-align(center, center)
        gap: 1rem

        height: 90vh
        width: 100%

        &-item
            display: flex
            flex-direction: column
            width: 30%
            height: 50%
            border: 1px solid $default-text-color

            &-bg
                display: flex
                flex-direction: column
                @include flex-align(center, center)
                gap: 0.5rem
                width: 100%
                height: 100%
                background: #000000a4

                h3
                    font-size: 200%
                    color: $tittle-text-color
        
    
            
        #card-1
            @include bg-img('virtuallifebrasil.jpg')

        #card-2
            @include bg-img('bgabout2425.jpg')

        #card-3
            @include bg-img('bgabout2425.jpg')

.footer
    display: flex
    flex-direction: column
    @include flex-align(center, center)
    gap: 1rem    

    width: 100%
    height: 20%
    background: $tittle-text-color
    padding: 2rem

    h2
        text-align: center
        text-shadow: 0px 0px 3.5rem
        color: $secundary-text-color
        font-size: 200%


    &-info
        display: flex
        flex-direction: column
        gap: 2rem
        @include flex-align(center, space-between)

        width: 100%
        height: 50%
        padding: 1rem 2rem
        font-size: 0.9rem
        font-weight: bold
        color: $default-text-color
        text-shadow: 2px 2px 5px $primary-color

        &-contacts
            display: flex
            gap: 2rem

        &-social
            display: flex
            gap: 2rem

        
    #copy
        display: flex
        
        width: 100%
        height: 20%
