@mixin reset
   padding: 0
   margin: 0
   box-sizing: border-box
   text-decoration: none
   list-style: none
   font-family: Montserrat, sans-serif
   font-size: 1rem

@mixin flex-align($align, $justify, $justify-self: center, $align-self: center)
   display: flex
   align-items: #{$align}
   justify-content: #{$justify}
   justify-self: #{$justify-self}
   align-self: #{$align-self}
   

@mixin bg-img($img)
   background: url('../img/works/#{$img}') center no-repeat
   background-size: 140% 100%
   filter: grayscale(100%)

@mixin super-title
   color: $primary-color
   font-size: 3.5rem

@mixin title($color: $secundary-color)
   color: $color
   font-size: 2.5rem
   text-shadow: 0px 0px 2.5rem

@mixin calcHeightHeader
   padding-block: calc($height-header - 40px)

@mixin subtitle
   color: $default-text-color
   font-size: 2rem


@mixin button($color, $background, $height: 45px, $width: 100px)
   color: $color
   background-color: $background
   height: $height
   width: $width
   border-radius: .2rem

   &:active
      transform: translateY(1px)
      box-shadow: 2px 2px 6px $black-color inset


// =========================================================================================================
// BREAKPOINTS
// =========================================================================================================
@mixin break($device)
    @media (max-width: #{$device})
        @content   