@mixin about
@import 'mixins'

#about
    @include flex-align(start, start)
    flex-direction: column

    min-height: 100vh
    width: 1200px
    @include calcHeightHeader
    border-bottom: 1px dashed $secundary-text-color

    #about-description
        @include flex-align(start, center)
        gap: 1rem

        #title-description
            width: 100%
            h2
                @include title
                padding: 4rem 0
        
        #about-description-texts
            width: 60%
            #about-description-text
                width: 100%
                #text-description p
                    text-align: justify
                    font-size: 1.5rem
                    line-height: 2rem
                    space
                
                #text-description span
                    color: $secundary-color
                    font-size: 1.5rem

        #about-description-img
            @include flex-align(center, center)
            width: 40%
            height: 100%
            padding: 1rem

            img
                max-width: 100%
                width: 100%

    #about-description-footer
        width: 100%
        #about-description-footer-title h2
            @include subtitle
            margin-block: 2rem

        #about-description-footer-icons
            @include flex-align(center, start)

            div
                @include flex-align(center, center)
                flex-direction: column
            
                span
                    color: $default-text-color
                    font-size: 1.1rem
                    margin-block: .4rem
                    font-weight: bold

            #html i, #css i, #js i, #sass i, #react i, #git i, #github i, #python i
                font-size: 5rem
                margin-inline: 1rem
                transition: all 0.3s ease-in-out

                
            i.fa-html5
            color: #e34c26
        
            i.fa-css3-alt
                color: #264de4

            i.fa-js
                color: #f0db4f

            i.fa-sass
                color: #cd6799

            i.fa-react
                color: #61dbfb

            i.fa-git-alt
                color: #f05032
            
            i.fa-github
                color: #171515
                background: #fff
                border-radius: 50%
                overflow: hidden
                border: 1px solid transparent
            
            i.fa-python
                color: #3776ab

            i:hover
                transform: translateY(-6px)