#header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 1200px;
  background: #050505;
  position: fixed;
  height: 100px;
  top: 0;
  z-index: 1;
}
#header #text-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  color: magenta;
  width: 40%;
  height: 100%;
}
#header #text-logo h2 {
  font-size: 2rem;
  font-style: italic;
}
#header #text-logo #textLogo {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
}
#header #text-logo #textLogo h2 {
  font-size: 2rem;
  font-weight: bold;
  widows: 80%;
  color: #00F5FF;
}
#header #navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
}
#header #navbar #hamburger {
  display: none;
}
#header #navbar #menu {
  display: flex;
  align-items: auto;
  justify-content: center;
  height: 100%;
}
#header #navbar #menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  text-align: center;
}
#header #navbar #menu li a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.2em;
  border: 0px solid transparent;
  transition: 0.4s;
}
#header #navbar #menu li a:hover {
  transform: translateY(-4px);
  color: magenta;
  border-bottom: 1px solid;
}

#header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 1200px;
  background: #050505;
  position: fixed;
  height: 100px;
  top: 0;
  z-index: 1;
}
#header #text-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  color: magenta;
  width: 40%;
  height: 100%;
}
#header #text-logo h2 {
  font-size: 2rem;
  font-style: italic;
}
#header #text-logo #textLogo {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
}
#header #text-logo #textLogo h2 {
  font-size: 2rem;
  font-weight: bold;
  widows: 80%;
  color: #00F5FF;
}
#header #navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
}
#header #navbar #hamburger {
  display: none;
}
#header #navbar #menu {
  display: flex;
  align-items: auto;
  justify-content: center;
  height: 100%;
}
#header #navbar #menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  text-align: center;
}
#header #navbar #menu li a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.2em;
  border: 0px solid transparent;
  transition: 0.4s;
}
#header #navbar #menu li a:hover {
  transform: translateY(-4px);
  color: magenta;
  border-bottom: 1px solid;
}

@keyframes button-continue {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
#about {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  border-bottom: 1px dashed #bebebe;
}
#about #about-description {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
#about #about-description #title-description {
  width: 100%;
}
#about #about-description #title-description h2 {
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 3.5rem;
  padding-block: 60px;
}
#about #about-description #about-description-texts {
  width: 60%;
}
#about #about-description #about-description-texts #about-description-text {
  width: 100%;
}
#about #about-description #about-description-texts #about-description-text #text-description p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
}
#about #about-description #about-description-texts #about-description-text #text-description span {
  color: magenta;
  font-size: 1.5rem;
}
#about #about-description #about-description-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 1rem;
}
#about #about-description #about-description-img img {
  max-width: 100%;
  width: 100%;
}
#about #about-description-footer {
  width: 100%;
}
#about #about-description-footer #about-description-footer-title h2 {
  color: #fff;
  font-size: 2rem;
  margin-block: 2rem;
}
#about #about-description-footer #about-description-footer-icons {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #e34c26;
}
#about #about-description-footer #about-description-footer-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#about #about-description-footer #about-description-footer-icons div span {
  color: #fff;
  font-size: 1.1rem;
  margin-block: 0.4rem;
  font-weight: bold;
}
#about #about-description-footer #about-description-footer-icons #html i, #about #about-description-footer #about-description-footer-icons #css i, #about #about-description-footer #about-description-footer-icons #js i, #about #about-description-footer #about-description-footer-icons #sass i, #about #about-description-footer #about-description-footer-icons #react i, #about #about-description-footer #about-description-footer-icons #git i, #about #about-description-footer #about-description-footer-icons #github i, #about #about-description-footer #about-description-footer-icons #python i {
  font-size: 5rem;
  margin-inline: 1rem;
  transition: all 0.3s ease-in-out;
}
#about #about-description-footer #about-description-footer-icons i.fa-css3-alt {
  color: #264de4;
}
#about #about-description-footer #about-description-footer-icons i.fa-js {
  color: #f0db4f;
}
#about #about-description-footer #about-description-footer-icons i.fa-sass {
  color: #cd6799;
}
#about #about-description-footer #about-description-footer-icons i.fa-react {
  color: #61dbfb;
}
#about #about-description-footer #about-description-footer-icons i.fa-git-alt {
  color: #f05032;
}
#about #about-description-footer #about-description-footer-icons i.fa-github {
  color: #171515;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
}
#about #about-description-footer #about-description-footer-icons i.fa-python {
  color: #3776ab;
}
#about #about-description-footer #about-description-footer-icons i:hover {
  transform: translateY(-6px);
}

#portfolio {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-y: scroll;
  padding-block: 100px;
  border-bottom: 1px dashed #bebebe;
}
#portfolio h2 {
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 3.5rem;
  padding-block: 60px;
  height: 5%;
}
#portfolio #portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem auto;
  height: 95%;
}
#portfolio #portfolio-container .container-item {
  width: 95%;
  border-radius: 0.4rem;
  overflow: hidden;
}
#portfolio #portfolio-container .container-item .container-item-bg {
  background: url("../img/works/embreve.png") no-repeat center;
  background-size: 250% 200%;
  filter: grayscale(100%);
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  flex-direction: column;
  transition: 0.4s;
  height: 100%;
  padding: 1rem;
}
#portfolio #portfolio-container .container-item .container-item-bg:hover {
  background-size: 260% 210%;
  filter: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  min-height: 90vh;
  height: 100vh;
  color: #fff;
  background: #050505;
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
}
#main-content #home {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  min-height: 100vh;
  margin-block: 100px;
  border-bottom: 1px dashed #bebebe;
}
#main-content #home .home-tittle {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
}
#main-content #home .home-tittle h1 {
  color: #00F5FF;
  font-size: 3.5rem;
  text-shadow: 0px 0px 3.5rem;
  width: 100%;
  text-align: center;
}
#main-content #home .home-subtitle {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
#main-content #home .home-subtitle h2 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 3.5rem;
  padding-block: 60px;
  text-align: center;
}
#main-content #home .home-subtitle p {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 2rem;
  text-align: right;
}
#main-content #home .home-subtitle p a {
  color: magenta;
  text-decoration: underline;
}
#main-content #home #continue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-block: 100px;
}
#main-content #home #continue span {
  margin-block: 2rem;
}
#main-content #home #continue .button-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  transform: translateY(-6px);
  transition: 0.4s;
  animation: button-continue 0.5s infinite alternate linear;
}
#main-content #home #continue .button-continue a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  width: 100%;
}
#main-content #home #continue .button-continue a i {
  font-size: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
