#header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  width: 1200px;
  background: rgba(5, 5, 5, 0);
  position: fixed;
  height: 100px;
  top: 0;
  z-index: 1;
  padding: 0 0.6rem;
}
#header #text-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-self: center;
  align-self: center;
  color: magenta;
  width: 40%;
  height: 100%;
}
#header #text-logo h2 {
  font-size: 2rem;
  font-style: italic;
}
#header #text-logo #textLogo {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-self: center;
  align-self: center;
  height: 100%;
}
#header #text-logo #textLogo h2 {
  font-size: 2rem;
  font-weight: bold;
  widows: 80%;
  color: #00F5FF;
}
#header #navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 80%;
}
#header #navbar #hamburger {
  display: none;
}
#header #navbar #menu {
  display: flex;
  align-items: auto;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 100%;
}
#header #navbar #menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  min-width: 150px;
  text-align: center;
}
#header #navbar #menu li a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.2em;
  border: 0px solid transparent;
  transition: 0.4s;
}
#header #navbar #menu li a:hover {
  transform: translateY(-4px);
  color: magenta;
  border-bottom: 1px solid;
}

#header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  width: 1200px;
  background: rgba(5, 5, 5, 0);
  position: fixed;
  height: 100px;
  top: 0;
  z-index: 1;
  padding: 0 0.6rem;
}
#header #text-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-self: center;
  align-self: center;
  color: magenta;
  width: 40%;
  height: 100%;
}
#header #text-logo h2 {
  font-size: 2rem;
  font-style: italic;
}
#header #text-logo #textLogo {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-self: center;
  align-self: center;
  height: 100%;
}
#header #text-logo #textLogo h2 {
  font-size: 2rem;
  font-weight: bold;
  widows: 80%;
  color: #00F5FF;
}
#header #navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 80%;
}
#header #navbar #hamburger {
  display: none;
}
#header #navbar #menu {
  display: flex;
  align-items: auto;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 100%;
}
#header #navbar #menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  min-width: 150px;
  text-align: center;
}
#header #navbar #menu li a {
  color: #fff;
  font-weight: bolder;
  font-size: 1.2em;
  border: 0px solid transparent;
  transition: 0.4s;
}
#header #navbar #menu li a:hover {
  transform: translateY(-4px);
  color: magenta;
  border-bottom: 1px solid;
}

@keyframes button-continue {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
#about {
  display: flex;
  align-items: start;
  justify-content: start;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  padding-block: 60px;
  border-bottom: 1px dashed #bebebe;
}
#about #about-description {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-self: center;
  align-self: center;
  gap: 1rem;
}
#about #about-description #title-description {
  width: 100%;
}
#about #about-description #title-description h2 {
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 2.5rem;
  padding: 4rem 0;
}
#about #about-description #about-description-texts {
  width: 60%;
}
#about #about-description #about-description-texts #about-description-text {
  width: 100%;
}
#about #about-description #about-description-texts #about-description-text #text-description p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
}
#about #about-description #about-description-texts #about-description-text #text-description span {
  color: magenta;
  font-size: 1.5rem;
}
#about #about-description #about-description-img {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  width: 40%;
  height: 100%;
  padding: 1rem;
}
#about #about-description #about-description-img img {
  max-width: 100%;
  width: 100%;
}
#about #about-description-footer {
  width: 100%;
}
#about #about-description-footer #about-description-footer-title h2 {
  color: #fff;
  font-size: 2rem;
  margin-block: 2rem;
}
#about #about-description-footer #about-description-footer-icons {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-self: center;
  align-self: center;
  color: #e34c26;
}
#about #about-description-footer #about-description-footer-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex-direction: column;
}
#about #about-description-footer #about-description-footer-icons div span {
  color: #fff;
  font-size: 1.1rem;
  margin-block: 0.4rem;
  font-weight: bold;
}
#about #about-description-footer #about-description-footer-icons #html i, #about #about-description-footer #about-description-footer-icons #css i, #about #about-description-footer #about-description-footer-icons #js i, #about #about-description-footer #about-description-footer-icons #sass i, #about #about-description-footer #about-description-footer-icons #react i, #about #about-description-footer #about-description-footer-icons #git i, #about #about-description-footer #about-description-footer-icons #github i, #about #about-description-footer #about-description-footer-icons #python i {
  font-size: 5rem;
  margin-inline: 1rem;
  transition: all 0.3s ease-in-out;
}
#about #about-description-footer #about-description-footer-icons i.fa-css3-alt {
  color: #264de4;
}
#about #about-description-footer #about-description-footer-icons i.fa-js {
  color: #f0db4f;
}
#about #about-description-footer #about-description-footer-icons i.fa-sass {
  color: #cd6799;
}
#about #about-description-footer #about-description-footer-icons i.fa-react {
  color: #61dbfb;
}
#about #about-description-footer #about-description-footer-icons i.fa-git-alt {
  color: #f05032;
}
#about #about-description-footer #about-description-footer-icons i.fa-github {
  color: #171515;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
}
#about #about-description-footer #about-description-footer-icons i.fa-python {
  color: #3776ab;
}
#about #about-description-footer #about-description-footer-icons i:hover {
  transform: translateY(-6px);
}

#portfolio {
  width: 1200px;
  min-height: 100vh;
  height: auto;
  padding-block: 60px;
}
#portfolio h2 {
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 2.5rem;
  padding: 4rem 0;
  height: 5%;
}
#portfolio h3 {
  height: 5%;
  font-weight: 400;
}
#portfolio #portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem auto;
  height: 85%;
  padding: 1rem;
}
#portfolio #portfolio-container .container-item {
  border-radius: 0.4rem;
  overflow: hidden;
  border: 1px dashed magenta;
  transition: 0.4s;
}
#portfolio #portfolio-container .container-item .container-item-bg {
  background: url("../img/works/embreve.png") center no-repeat;
  background-size: 140% 100%;
  filter: grayscale(100%);
  display: flex;
  align-items: center;
  justify-content: end;
  justify-self: center;
  align-self: center;
  transition: 0.4s;
  height: 100%;
}
#portfolio #portfolio-container .container-item .container-item-bg .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  gap: 3rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#portfolio #portfolio-container .container-item .container-item-bg .filter h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
#portfolio #portfolio-container .container-item .container-item-bg .filter button {
  color: #fff;
  background-color: magenta;
  height: 45px;
  width: 100px;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 1rem;
}
#portfolio #portfolio-container .container-item .container-item-bg .filter button:active {
  transform: translateY(1px);
  box-shadow: 2px 2px 6px #000 inset;
}
#portfolio #portfolio-container .container-item .container-item-bg:hover {
  background-size: 150% 110%;
  filter: grayscale(0%);
}
#portfolio #portfolio-container .container-item .container-item-bg:hover h3 {
  color: magenta;
}
#portfolio #portfolio-container .container-item:hover {
  border: 1px solid magenta;
}

#feedback {
  display: flex;
  align-items: center;
  justify-content: start;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  padding-block: 60px;
}
#feedback h2 {
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 2.5rem;
  padding-block: 4.5rem;
}
#feedback h3 {
  padding-block: 2rem;
}
#feedback form {
  display: flex;
  align-items: start;
  justify-content: start;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  border: 1px dashed #fff;
  width: 550px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  color: magenta;
  font-weight: 700;
}
#feedback form label {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  border: 1px dashed #fff;
  padding-block: 0.6rem;
}
#feedback form label textarea, #feedback form label input {
  padding: 0.5rem;
  width: 100%;
}
#feedback form button {
  color: #fff;
  background-color: magenta;
  height: 45px;
  width: 100px;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  align-self: flex-end;
}
#feedback form button:active {
  transform: translateY(1px);
  box-shadow: 2px 2px 6px #000 inset;
}

.footer {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  gap: 1rem;
  width: 1200px;
  height: 20%;
  background: magenta;
  padding: 2rem;
}
.footer h3 {
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 0px 0px 2.5rem;
  text-shadow: none;
}
.footer-info {
  display: flex;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  height: 10%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}
.footer-info-contacts {
  display: flex;
  gap: 2rem;
}
.footer-info-social {
  display: flex;
  gap: 2rem;
}
.footer-info-social a i {
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}
.footer-info-social a .fa-linkedin {
  color: #0A66C2;
}
.footer-info-social a .fa-github {
  color: #000000;
}
.footer-info-social a .fa-youtube {
  color: #FF0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
  transition: 1s;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  align-self: center;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  color: #fff;
  transition: 0.4s;
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  align-self: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background: url("../img/public/headerbg1300.jpg") no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-offset: 0px 0px;
}
#main-content #home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  width: 1200px;
  border-bottom: 1px dashed #bebebe;
  padding-block: 60px;
}
#main-content #home-container .home-tittle {
  display: flex;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex-grow: 4;
  width: 100%;
}
#main-content #home-container .home-tittle h1 {
  color: #00F5FF;
  font-size: 3.5rem;
  text-shadow: 0px 0px 3.5rem;
  width: 100%;
  text-align: center;
}
#main-content #home-container .home-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 2;
}
#main-content #home-container .home-subtitle h2 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  justify-self: center;
  align-self: center;
  color: magenta;
  font-size: 2.5rem;
  text-shadow: 0px 0px 2.5rem;
  text-align: center;
}
#main-content #home-container .home-subtitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 2rem;
}
#main-content #home-container .home-subtitle p a {
  color: magenta;
  text-decoration: underline;
}
#main-content #home-container #continue {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  justify-self: end;
  width: 100%;
}
#main-content #home-container #continue span {
  margin-block: 2rem;
}
#main-content #home-container #continue .button-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  transform: translateY(-6px);
  transition: 0.4s;
  animation: button-continue 0.5s infinite alternate linear;
}
#main-content #home-container #continue .button-continue a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  color: #fff;
  height: 100%;
  width: 100%;
}
#main-content #home-container #continue .button-continue a i {
  font-size: 1.5rem;
}
#main-content #home-container #continue:nth-child(1) {
  border: 3px solid orange;
  background-color: #000000;
}

/*# sourceMappingURL=index.css.map */
